<h3>There Be Some Problems, yo!</h3>
    <div>
        <ul>
            <% flash.each do |type, msg| %>
            <li><%= "#{type}: #{msg}" %></li>
            <% end %>
        </ul>
        <img s rc='/photos/sad_panda.gif'>
    </div>
    <h4>Click "Home Page" or refresh the page to move on.</h4>