<img src="<%= @student.image %>", alt="profile pic goes here">

<h1>Welcome <%= "#{@student.first_name} #{@student.last_name}!" %></h1>

<h2>Tutor Profile</h2>
<%= render partial: 'students/profile' %>


