<h1>Welcome <%= "#{current_user.full_name}!" %></h1>

<div class='users-profile'>
    <% if current_user.rating %>
        <h3>Your Current Rating: <%= current_user.rating %></h3>
    <% end %>

    <h2>Your Appointments:</h2>
    <ul>
        <% current_user.appointments_by_date.each do |appt| %>
            <li><%= "#{appt.student.full_name}: #{appt.time}" %></li>
        <% end %>
    </ul>
</div>


