<h1>All Tutors (listed in order of rating)</h1>
<ul>
     <% @tutors.each do |tutor| %>
        <li class='tutors'>
            <%= link_to "#{tutor.full_name}", user_path(tutor) %>
            (rating: <%= tutor.rating %>)<br>
            <img src="<%= tutor.image %>", alt="tutor photo here">
        </li>
    <% end %>
</ul>

<%#= alert_the_system %><br>