<div class='centered'>
  <% if params[:action] != "home" %>
    <button><%= link_to "Home Page", '/' %></button>
  <% end %>

  <% if !logged_in? %>
    <button><%= link_to "New User", new_user_path %></button>    
    <button><%= link_to "Log In", '/login' %></button>
    <button><%= link_to "All Tutors", tutors_path %></button>

  <%# elsif logged_in? && current_user %>

  <% end %>
 
</div>
