<% if current_user.errors.any? %>
    <p>Errors:</p>
    <ul>
        <% current_user.errors.messages.each do |msg| %>
            <li><%= display_errors(msg) %></li>
        <% end %>
    </ul>
<% end %>
    


