<% if @user.errors.any? %>
    <ul>
        <% @user.errors.messages.each do |msg| %>
            <li><%= display_errors(msg) %></li>
        <% end %>
    </ul>
<% end %>

<% if @user.is_tutor? %>
     <%= render partial: 'tutors/edit' %>
<% elsif @user.is_student %>
    <%= render partial: 'students/edit' %>
<% end %>

<h3>-- OR --</h3>

<%= button_to "Delete Yo' Self", user_path(@user), method: :delete, confirm: "Are you sure?" %>

<%# { confirm: "Are you sure?" } %>