<div class='centered big-letters'>
    
    <p>THIS IS NOT YOUR STUFF!</p>
    <p>BEWARE THE WRATH</p>
    <p>OF MR MCGIBBLETS!!!</p>

    <img src='/photos/mr_mcgibblets_cleaver.gif'>

    <br><br>

    <button><%= link_to "Home Page", '/' %></button>
 
</div>