.profile-photo {
    float: right;
    margin-right: 2%;
}

.centered {
    text-align: center;
}

.tutors {
    font-size: 30px;
    padding-bottom: 30px;
}

.big-letters {
    font-size: 40px;
    font-weight: bold;
}

.form-title {
    font-size: 60px;
}

.form-body {
    font-size: 40px;
    text-color: black;
}

.button {
    background-color: waves-effect yellow lighten-4 btn-small;
}