<%= render partial: 'appt' %>

<%# keep this for when I incorporate notes with appointments %>

<br><br>

<div class='centered'>
    <button><%= link_to "Profile", current_user.url %></button>
    <button><%= link_to "Home Page", '/' %></button>
</div>